<html>
    <head>
        <title>Movie Rate App</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="/static/style/style.css" rel="stylesheet" media="screen">
    <link href="/static/style/star.css" rel="stylesheet" media="screen">

	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>

    </head>
    <body>
<!-- Shell -->
<div id="shell">
<h1>Detail of {{ movie_.name }} </h1>
<!-- Header -->
	<div id="header">
		
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/">HOME</a></li>
			    <li><a href="/movie_now">IN THEATERS</a></li>
			    <li><a href="/movie_comming">COMING SOON</a></li>
			</ul>

		</div>
		<!-- end Navigation -->
<!-- Sub-menu -->
		<div id="sub-navigation">
			<ul>
			    <li><a href="/show_all">SHOW ALL</a></li>
			    <li><a href="/last_movie">LATEST TRAILERS</a></li>
			    <li><a href="/top_rate">TOP RATED</a></li>
			    <li><a href="/most_comment">MOST COMMENTED</a></li>
			</ul>
			</div>
		<!-- end Sub-Menu -->

</div>
	<!-- end Header -->
<div class="cleaner h40"></div>
   <div class="test">     
<table id="id_list_table" align="center">
<tr><td>
Name: </td><td> {{ movie_.name }}</td></tr>
<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Release Date:  </td><td>  {{ movie_.release_date }}</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Lead Actors:  </td><td>  {{ movie_.lead_actors }}</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Director:  </td><td>  {{ movie_.director }}</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Genre:  </td><td>  {{ movie_.genre }}</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Detail:  </td><td>  {{ movie_.detail }}</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Poster Image URL:  </td><td>  <img src=" {{ movie_.poster }} " height=600 ></td></tr>


<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Add Date: </td><td>   {{ movie_.add_date }}</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Rate:  </td><td>  {{ movie_.rate }}</td></tr>

<tr><td>
<div class="cleaner h40"></div>  
</td><td><div class="cleaner h40"></div> 
</td></tr>

<tr><td>
Clip : </td><td> 
<iframe width="420" height="345"
src="{{ movie_.clip }}">
</iframe>

</td></tr>


<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
</td><td>   <form method="POST" action="/movie_detail/{{movie_.id}}/">
<div class="stars">
    <input class="star star-5" id="star-5" type="radio" name="star" value=5 />
    <label class="star star-5" for="star-5"></label>
    <input class="star star-4" id="star-4" type="radio" name="star" value=4 />
    <label class="star star-4" for="star-4"></label>
    <input class="star star-3" id="star-3" type="radio" name="star" value=3 />
    <label class="star star-3" for="star-3"></label>
    <input class="star star-2" id="star-2" type="radio" name="star" value=2 />
    <label class="star star-2" for="star-2"></label>
    <input class="star star-1" id="star-1" type="radio" name="star" value=1 />
    <label class="star star-1" for="star-1"></label>
</div>
            <input type="submit" value="rate"        id="id_rate"  >
            <input type="hidden" value="send_rate"  name="send_rate">
	    <br>
            {% csrf_token %}
        </form></td></tr>
</table>
  </div>     


<div class="cleaner h40"></div>
<div class="wTable">
<table id="comment_text" align="center">

        {% if movie_.countcom != 0 %}
           <h2>COMMENTS</h2>
            {% for comment in comments %}

           <tr id="comment_{{ comment.id }}_name"><td> <b>Name: </b>{{ comment.user }}</td></tr>
           <tr id="comment_{{ comment.id }}_date"><td><span class="date"> date:{{ comment.date }}<br></span></td></tr>
           <tr id="comment_{{ comment.id }}_comment"><td><span class="comment"> <b>comment:</b> {{ comment.comment_text }}<br></span></td></tr>
           <tr id="comment_{{ comment.id }}_like"><td><span class="like"><b> Like:{{ comment.like }}<br></b></span></td></tr>
       <tr><td> <form method="POST" action="/movie_detail/{{movie_.id}}/">
            <input type="submit" value="LIKE"        id="submit_like_{{ comment.id }}"  >
            <input type="hidden" value="submit_like"  name="send_like">
            <input type="hidden" value="{{ comment.id }}"  name="id_send_like">
                
            {% csrf_token %}
        </form></td></tr>
<tr><td> </td></tr>
<tr><td> </td></tr>
<tr><td><div class="cleaner h20"></div> </td></tr>
            {% endfor %}
        {% endif%}
</table>
</div>







<div class="cleaner h40"></div>
<div id="comment_form">
<h3>Comment</h3>
 <form method="POST" name="comment" action="/movie_detail/{{movie_.id}}/">
{% if user.is_authenticated %}

           <div class="form_row"> <label for="text">name<h style="color:red">*</h>: {{ user.get_username }}</label><br/> 
<input name="user_name" id="id_user_name_comment" value="{{ user.get_username }}" type="hidden"></div>

            <br/>
{% else %}

           <div class="form_row"> <label for="text">name<h style="color:red">*</h>:</label><br/> <input name="user_name" id="id_user_name_comment" placeholder="Your Name" required
    oninvalid="this.setCustomValidity('Please Enter your name')"
    oninput="setCustomValidity('')"/></div>
            <br/>
{% endif%}
          <div class="form_row">  <label for="text">Message<h style="color:red">*</h>:</label> <br/><textarea name="comment_text" id="id_comment_text" placeholder="Comment this movie" class="validate-email required input_field" required
    oninvalid="this.setCustomValidity('Please Enter some comment message')"
    oninput="setCustomValidity('')"/></textarea></div>
            <br>



            <input type="submit" value="Comment"        id="id_comment"  >
            <input type="hidden" value="send_Comment"  name="send_comment">
	    <br>
            {% csrf_token %}
        </form>

</div>



        <form method="POST" action="/">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form>
         {% if user.is_authenticated %}
         <form method="POST" action="/movie/{{movie_.id}}/edit/">
            <input type="submit" value="edit" id="Edit" >
            <input type="hidden" value="send_edit" name="send_Edit" >
	    <br>
            {% csrf_token %}
        </form>
        {% endif%}
</div>
<!-- end Shell -->
    </body>
</html>



