<html>
    <head>
        <title>Movie Rate App</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link href="/static/style/style.css" rel="stylesheet" media="screen">

	<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery-func.js"></script>
        <script>
            $(document).ready(function() {
                  $("#id_new_date").datepicker({ dateFormat: 'yy-mm-dd' });
            });
        </script>
    </head>
    <body>

<!-- Shell -->
<div id="shell">
        <h1>Edit {{movie_.name}}</h1>

<!-- Header -->
	<div id="header">
		
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}

        <form method="POST" action="/accounts/registration/" style="float:right;">
            <input type="submit" value="signup" id="registration" >
            <input type="hidden" value="go_regis" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
{% endif %}
		<!-- Navigation -->
		<div id="navigation">
			<ul>
			    <li><a href="/">HOME</a></li>
			    <li><a href="/movie_now">IN THEATERS</a></li>
			    <li><a href="/movie_comming">COMING SOON</a></li>
			</ul>

		</div>
		<!-- end Navigation -->
<!-- Sub-menu -->
		<div id="sub-navigation">
			<ul>
			    <li><a href="/show_all">SHOW ALL</a></li>
			    <li><a href="/last_movie">LATEST TRAILERS</a></li>
			    <li><a href="/top_rate">TOP RATED</a></li>
			    <li><a href="/most_comment">MOST COMMENTED</a></li>
			</ul>
			</div>
		<!-- end Sub-Menu -->

</div>
	<!-- end Header -->

        <form method="POST" action="/movie/{{movie_.id}}/edit/">
<table>
<tr><td>Name:   
</td><td><input name="name_text" id="id_new_name" placeholder="{{movie_.name}}" />
</td></tr>

<tr><td>
<div class="cleaner h15"></div>  
</td><td><div class="cleaner h15"></div> 
</td></tr>

<tr><td>
Release Date:    
</td><td><input name="date_text" id="id_new_date" placeholder="{{movie_.release_date}}" />
</td></tr>

<tr><td>
<div class="cleaner h20"></div>  
</td><td><div class="cleaner h20"></div> 
</td></tr>

<tr><td>
Lead Actors:    
</td><td><input name="actor_text" id="id_new_actor" placeholder="Add Lead Actors" />
</td></tr>

<tr><td>
<div class="cleaner h15"></div>  
</td><td><div class="cleaner h15"></div> 
</td></tr>

<tr><td>
Director:    
</td><td><input name="director_text" id="id_new_director" placeholder="Add Director" />
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Genre:    
</td><td><input name="genre_text" id="id_new_genre" placeholder="Add Type Of Movie" />
</td></tr>

<tr><td>
<div class="cleaner h10"></div>  
</td><td><div class="cleaner h10"></div> 
</td></tr>

<tr><td>
Detail:    
</td><td><textarea name="detail_text" id="id_new_detail" placeholder="{{movie_.detail}}" /></textarea>
</td></tr>

<tr><td>
<div class="cleaner h20"></div>  
</td><td><div class="cleaner h20"></div> 
</td></tr>

<tr><td>
Poster Image URL:    
</td><td><input name="poster_url" id="id_new_pic" placeholder="{{movie_.poster}}" />
</td></tr>

<tr><td>
<div class="cleaner h15"></div>  
</td><td><div class="cleaner h15"></div> 
</td></tr>

<tr><td>
Clip URL:    
</td><td><input name="clip_url" id="id_new_clip" placeholder="{{movie_.clip}}" />
</td></tr>


</table>
            <input type="submit" value="Update"        id="submit_update_data"  >
            <input type="hidden" value="submit_send_update"  name="Update_send_Detail">
            <INPUT Type = "hidden" value ="{{ movie_.id }}" name = 'id_update'>
	    <br>
            {% csrf_token %}
        </form>
        <form method="POST" action="/">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form>
</div>
<!-- end Shell -->
    </body>
</html>
