
* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #ccc;
    background: url('images/body-bg.gif');
    background-attachment:scroll;
}

a { color: #e7b038; text-decoration: underline; cursor:pointer; }
a:hover { text-decoration: none; }
a img { border: 0; width:140px; height:200px;}
table { border: 0; width:140px;}

h2 { font-size:10px; color:#f2a223; font-weight:bold; }

.text-right { text-align:right; }
.comments { background:url('images/comments.gif') no-repeat 0 center; padding-left:12px; float:right; }
.box { width:980px; border-bottom:1px dashed #413e3e; padding-bottom:21px; }
.box .head { width:980px; padding-top:14px; padding-bottom:11px; }
.box .head h2 { float:left; display:inline; }

#shell { width:980px; margin:0 auto; }
#header { position:relative; }
#sub-navigation { display:block; clear:right; border-top:1px dashed #666; border-bottom:1px dashed #666; padding:20px 0;  }
#sub-navigation ul { list-style:none; }
#sub-navigation ul li { float:left; display:inline; padding-right:23px;  }
#sub-navigation ul li a { font-size:14px; font-weight:bold; color:#fff; line-height:1px; text-decoration:none; }
#sub-navigation ul li a:hover { text-decoration:underline; }


#navigation { float:right; clear:right; padding-top:28px; padding-bottom:47px; }
#navigation ul { list-style:none; }
#navigation ul li { float:left; display:inline; padding-left:29px;  }
#navigation ul li a { font-size:14px; font-weight:bold; color:#fff; text-decoration:none; }
#navigation ul li a.active,
#navigation ul li a:hover { color:#d91d2a; }



.cleaner { clear: both   }
.h10 { height: 10px }
.h15 { height: 15px }
.h20 { height: 20px }
.h40 { height: 40px }

#comment_form form {
	padding: 20px;
	background: #0c0c0c;
	border: 1px solid #000;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#comment_form form label {  }

#comment_form textarea {
	width: 500px; 
	height: 200px; 
	padding: 5px; 
	color: #333; 
	border: 1px solid #2b271d;  
	background: #000; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	width: 270px; 
	color: #333; 
	padding: 5px; 
	border: 1px solid #2b271d;  
	background: #000; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form .submit_btn {
	width: 80px;
	margin: 10px 0px;
	padding: 5px 14px;
	background-color: #000;
	color: #2b271d;
	border: 1px solid #2b271d;
	cursor: pointer;
}

	color: #333; 
	border: 1px solid #2b271d;  
	background: #000; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#comment_form form input {
	margin: 10px 0px;
	padding: 5px 14px;
	background-color: #000;
	color: #2b271d;
	border: 1px solid #2b271d;
}





#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 580px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}
.comments li .commentbox1 { 
	border: 1px solid #000;  
	background: #000000; 
}

.comment_box .comment_text { 
	margin: 0 0 0 65px; 
}

.test{
background: rgba(150,150,150,0.5); 
width:500px;
text-shadow: 0 1px 0 rgba(0,0,0,.50);
}
.wTable table{
width:200px;
color : #5882FA;
}
.wTable .like{
color : white;
}
.wTable .date{
font-size: 12px;
color : #FF8000;
}
.wTable .comment{
color : #A4A4A4;
}

